* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-width: 640px;
  display: flex;
}

.points-menu {
  width: 50%;
  height: calc(100% - 20px);
  margin: 10px;
  border: solid black 2px;
  font-size: 16px;
}

.points-list {
  height: calc(100% - 43px);
  overflow-y: scroll;
}

.point {
  width: calc(100% - 20px);
  margin: 10px;
  border: solid black 2px;;
  position: relative;
  padding: 2px 3px 3px 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: 20px;
  width: 22px;
  left: calc(100% - 24px);
  background-color: white;
  padding: 0 5px 0 4.5px;
  font-size: 15px;
  border: inherit;
  position: absolute;
}

.delete-button:hover {
  background-color: red;
  border-color: red;
  color: white;
}

input {
  width: 100%;
  border: solid black 10px;
  font-size: 16px;
  padding: 2px;
}
